$header-nav-bg: #3f3d3d;
$link-color: #dadada;
$red-color: #ff0000;
$button-color: #edb4b4;
$text-color: #fff;
$blue-color: #83c1e8;
$dark-blue: #4886af;
$grey-color: #c4c4c4;
$hard-dark-blue: #073245;
$black-color: black;

$mobile-width: 499px;
$middle-tablet: 768px;
$big-tablet: 991px;