@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");

.header {
    font-size: 1rem;
}

.header-top {
    background-color: $header-nav-bg;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
        text-align: center;
    }
}

.header-logo {
    height: auto;
    font-family: "Faster One", cursive;
    font-size: 25px;
    color: $link-color;
}

.header-input {
    border-radius: 10px;
    outline: none;
    width: auto;
    padding: 5px;
    @media screen and (max-width: $mobile-width) {
        width: auto;
    }
}

.header-list, .header-user-activities {
    display: flex;
    justify-content: space-between;
    list-style: none;
    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
    }
    @media screen and (min-width: 500px) and (max-width: $middle-tablet) {
        font-size: 10px;
    }
}

.header-link {
    color: $link-color;
    text-decoration: none;
    margin-right: 20px;

    &:hover {
        text-decoration: underline;
    }
}

.header-main {
    display: flex;
    justify-content: space-between;
}

.header-main-wrapper {
    display: flex;
    flex-direction: column;
}

.main-slider {
    margin: 25px auto 0;
}

.main-slider-cols {
    display: flex;
    justify-content: space-between;
}

.main-slider-col {
    margin-right: 10px;
    width: 200px;
    height: 200px;
    background-color: $grey-color;
}

.header-aside {
    width: 330px;
    height: auto;
    padding: 10px;
}

.main-slider-dots {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 15px auto 0;
}

.main-slider-dot {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: $red-color;
}

.description {
    text-align: center;
}

.description-article {
    background-color: $black-color;
    padding: 10px;
    color: $grey-color;
}

.aside-wrapper {
    border: 1px solid $black-color;
}

.recommended-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px 20px;
    margin: 10px auto 0;
}

.recommended-grid-col {
    width: 150px;
    height: 150px;
    background-color: $grey-color;
}