header.header
	.header-top
		.header-logo HalFFly
		.header-input
			input(type="text" placeholder="Поиск...").header-input
		nav.header-nav
			ul.header-list
				li.header-item
					a(href="").header-link Главная
				li.header-item
					a(href="").header-link Магазин
				li.header-item
					a(href="").header-link Продавцы
				li.header-item
					a(href="").header-link Блог
				li.header-item
					a(href="").header-link Новости
		nav.header-user-activities
			li.header-item
				a(href="").header-link Выход
			li.header-item
				a(href="").header-link Профиль
			li.header-item
				img(src="../img/general/HalFFlY.png" alt="user-avatar").user-avatar
	main.header-main
		.header-main-wrapper
			.main-slider
				.main-slider-cols
					.main-slider-col
						img(src='')
					.main-slider-col
						img(src='')
					.main-slider-col
						img(src='')
					.main-slider-col
						img(src='')
				.main-slider-dots
					.main-slider-dot
					.main-slider-dot
					.main-slider-dot
			.description
				h2.description-heading Описание
				article.description-article Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquam aperiam atque cumque debitis delectus dolor, dolorem doloremque eaque eius eum ex explicabo fugiat, inventore ipsam iste laboriosam laudantium maxime minima minus molestiae necessitatibus obcaecati odio repudiandae saepe tenetur unde vel voluptatem
			.reccomended
				h2.reccomended-heading Рекомендуем:
				.recommended-grid
					.recommended-grid-col
					.recommended-grid-col
					.recommended-grid-col
					.recommended-grid-col
					.recommended-grid-col
					.recommended-grid-col
					.recommended-grid-col
					.recommended-grid-col
					.recommended-grid-col
					.recommended-grid-col
		.aside-wrapper
			aside.header-aside
				p hello
