.aside-reviews {
    margin-top: 50px;
    background-color: $blue-color;
}

.aside-reviews-user {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.aside-reviews-button {
    color: $hard-dark-blue;
}

.aside-reviews-col {
    margin-top: 20px;
}

.aside-reviews-rate {
    margin-top: 30px;
}

.aside-reviews-wrap {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $mobile-width) {
        width: 70%;
    }
}

.review-textarea {
    margin-top: 10px;
}