.aside-reviews
	h4.aside-reviews-heading Отзывы
	.aside-reviews-col
		.aside-reviews-user
			.aside-reviews-img
				img(src="" alt="reviews-img")
			.aside-reviews-name-rate
				.aside-reviews-name
					| Имя:
					span dr
				.aside-reviews-rate
					| Рейтинг:
					span 100%
		textarea(cols="40" rows="4" placeholder="Напишите свой отзыв")
		.aside-reviews-buttons
			button.aside-reviews-button Пожаловаться
			button.aside-reviews-button Ответить
	.aside-reviews-col
		.aside-reviews-user
			.aside-reviews-img
				img(src="" alt="reviews-img")
			.aside-reviews-name-rate
				.aside-reviews-name
					| Имя:
					span dr
				.aside-reviews-rate
					| Рейтинг:
					span 100%
		textarea(cols="40" rows="4" placeholder="Напишите свой отзыв")
		.aside-reviews-buttons
			button.aside-reviews-button Пожаловаться
			button.aside-reviews-button Ответить
	.aside-reviews-col
		.aside-reviews-user
			.aside-reviews-img
				img(src="" alt="reviews-img")
			.aside-reviews-name-rate
				.aside-reviews-name
					| Имя:
					span dr
				.aside-reviews-rate
					| Рейтинг:
					span 100%
		textarea(cols="40" rows="4" placeholder="Напишите свой отзыв")
		.aside-reviews-buttons
			button.aside-reviews-button Пожаловаться
			button.aside-reviews-button Ответить
	.aside-reviews-col
		.aside-reviews-user
			.aside-reviews-img
				img(src="" alt="reviews-img")
			.aside-reviews-name-rate
				.aside-reviews-name
					| Имя:
					span dr
				.aside-reviews-rate
					| Рейтинг:
					span 100%
		textarea(cols="40" rows="4" placeholder="Напишите свой отзыв")
		.aside-reviews-buttons
			button.aside-reviews-button Пожаловаться
			button.aside-reviews-button Ответить
	.aside-reviews-col
		.aside-reviews-user
			.aside-reviews-img
				img(src="" alt="reviews-img")
			.aside-reviews-name-rate
				.aside-reviews-name
					| Имя:
					span dr
				.aside-reviews-rate
					| Рейтинг:
					span 100%
		textarea( class="review-textarea" cols="40" rows="4" placeholder="Напишите свой отзыв")
		.aside-reviews-buttons
			button.aside-reviews-button Пожаловаться
			button.aside-reviews-button Ответить
	.aside-reviews-rate
		.aside-reviews-wrap
			.aside-seller-rate
				| Выберите рейтинг продавца
				span
			button.asider-reviews-button Отправить
		textarea(class="review-textarea" cols="40" rows="4" placeholder="Напишите свой отзыв")